* {
  margin: 2px;
  box-sizing: content-box;
}

a {
  list-style: none;
  text-decoration: none;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
}

.menu-item-style {
  background: url('./images/bluebg.png');
  height: 100vh;
  width: 100%;
  margin-top: -30px;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 25px;
  overflow: hidden;
}

.logo {
  flex-grow: 1;
  flex-shrink: 5;
}

.navbar  .nav-menu{
  display: flex;
    background: url("./images/bluebg.png");
    height: 100vh;
    width: 350px;
    font-family: "Poppins",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
  }
  
  .cancel {
    align-self: flex-end;
    padding-top: 30px;
    padding: 10px;
  }
  .list-items {
    align-self: flex-start;
 
  }
.content {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-image: url("./images/background.svg");
  background-size: 100vw;
  background-repeat: no-repeat;
  overflow: hidden;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  color: #172b4d;
  margin: 12px 0;
  padding-top: 50px;
  animation-duration: 5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  flex-grow: 0;
  margin: 12px 0;
}

.connect a {
  text-decoration: none;
  text-transform: uppercase;
  color: #7f8cff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
}

.media {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding-left: 5px;
  align-items: baseline;
}

ul.media {
  list-style: none;
}

.nav-menu {
  display: none;
}

.project-container {
  display: grid;
  row-gap: 89px;
  align-content: center;
  padding: 50px;
}

.project-card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 90%;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 10px;
  margin: 10px 0;
}

.about {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #344563;
  flex: none;
  margin: 12px 0;
}

.image img {
  width: 100%;
}

.stories {
  display: flex;
  flex-direction: column;
}

.p-title {
  color: #172b4d;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin: 12px;
}

.subwork {
  display: flex;
  list-style: none;
  padding-right: 10px;
  padding-left: 0;
  gap: 1em;
}

.work1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.subwork li {
  color: #7a869a;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.languages {
  display: flex;
  list-style: none;
  padding-right: 10px;
  padding-left: 0;
  gap: 1em;
}

.languages li {
  color: #6070ff;
  background-color: #ebebff;
  border-radius: 10px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
}

.clickme {
  color: #396df2;
  border-radius: 8px;
  border-color: #7f8cff;
  padding: 10px 18px;
  background-color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}

.clickme:hover,
.clickme:enabled .clickme:active {
  background-color: #396df2;
  color: #fff;
}

.about-me {
  padding-left: 20px;
}

.self {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  color: #172b4d;
  position: static;
  width: 327px;
  height: 101px;
  left: 0;
  top: 0;
}

.intro-about {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.stacks {
  width: 90%;
  margin-bottom: 10px;
}

.stacks ul {
  padding: 0;
}

.heading span i {
  margin: 20px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.lang {
  background-color: #f7f7f9;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  margin-top: 20px;
}

.lang h4 {
  position: absolute;
  height: 24px;
  left: 12px;
  right: 78px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.lang li {
  margin-left: 20px;
  margin-top: 18px;
  list-style: none;
  color: #253858;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.fr-skills {
  list-style: none;
  padding: 0;
  width: 90%;
}

.fr-skills .framework {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  list-style: none;
}

.framework li {
  list-style: none;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin: 20px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  color: rgb(32, 32, 32);
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #6070ff;
  border-top-left-radius: 5em;
  background-image: url(./images/cont-form.png);
  background-repeat: no-repeat;
  background-size: 350px 800px;
  height: 890px;
}

.contact-description {
  align-content: center;
  text-align: center;
  padding-top: 90px;
}

.contact-description h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  width: 90%;
}

.contact-txt {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}

.contact-description p {
  align-items: baseline;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  color: #ebebff;
  padding-left: 30px;
  padding-right: 24px;
}

::placeholder {
  color: black;
}

.form-field {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
  width: 90%;
  margin: 0 20px;
}

.form-field .name {
  background: #fff;
  border: none;
  border-radius: 8px;
  width: 100%;
  height: 48px;
}

.name-emailv {
  padding-top: 0.5rem;
}

.name-email {
  width: 90%;
  height: 18px;
}

.form-field input {
  border-style: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: rgb(32, 32, 32);
  padding: 15px 16px 15px 23px;
  background: none;
}

.form-field .email-field {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 100%;
  height: 48px;
  margin: 18px 0;
  background: #fff;
}

.form-field .message {
  background: #fff;
  color: #b3bac5;
  border: none;
  border-radius: 8px;
  padding: 15px 0 0 23px;
  height: 170px;
}

textarea {
  border: none;
  outline: none;
}

textarea::placeholder {
  color: #b3bac5;
  font-size: 15px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
}

.form-field .btn {
  width: 140px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  background: #fff;
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding-top: 0.5rem;
}

.form-field button {
  border-style: none;
  color: #5061fd;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  background: none;
  padding: 5px 10px;
}

.btn:hover,
.button-submit:active {
  background-color: #6070ff;
  color: #fff;
}

.btn:hover,
.btn:visited {
  background-color: #2235dd;
  color: #fff;
}

.line {
  text-align: center;
  margin: 10px auto;
}

/* Desktop-version */
@media screen and (min-width: 992px) {
  body {
    width: 100%;
    height: auto;
  }
  .cantainer {
    display: flex;
    flex-direction: row;
    margin: 40px;
  }
  
  .menu {
    display: none;
  }

  .nav-menu {
    display: flex;
    list-style: none;
  }

  .nav-menu li {
    padding: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .logo {
    padding: 20px;
    flex-grow: 1;
    flex-shrink: 5;
  }

  .content {
    background-image: url("./images/desktop.svg");
    background-size: 100vw;
    background-repeat: no-repeat;
    margin-left: 80px;
    padding: 60px;
  }

  h1 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    color: #091e42;
    width: 920px;
    height: 122px;
    flex: 1;
    animation-duration: 5s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    width: 920px;
    height: 122px;
    flex: 1;
  }

  .project-container {
    margin-top: 50px;
    height: 496px;
    width: 1156px;
  }

  .project-card {
    display: flex;
    grid-template-areas: "auto auto";
    flex-direction: row;
    grid-gap: 50px;
    margin-left: 80px;
  }

  .background {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .image {
    width: 50%;
  }

  .p-title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    margin-top: 50px;
  }

  .about {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    width: 66%;
    height: 15%;
    left: 24%;
    top: 146px;
  }

  .work1 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
  }

  .languages {
    padding-top: 40px;
  }

  .row-rev {
    display: flex;
    flex-direction: row-reverse;
  }

  .my-intro {
    display: flex;
    grid-template-areas: "auto auto";
    flex-direction: row;
    margin-left: 80px;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  .intro-about {
    width: 80%;
    height: 30%;
  }

  .about-languages {
    display: flex;
    flex-direction: column;
    width: 60%;
  }

  .contact-form {
    margin-top: 50px;
    background-image: url("./images/contact-from.svg");
    background-size: 100vw;
    background-repeat: no-repeat;
    color: #6070ff;
  }

  .clickme {
    margin-bottom: 50px;
    margin-top: 40px;
  }

  .contact-description h2 {
    padding-bottom: 30px;
  }

  .contact-description p {
    text-align: center;
    width: 569px;
    height: 102px;
    left: 116px;
    top: 68px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #ebebff;
  }

  .form-field {
    width: 447px;
    height: 48px;
    align-self: center;
    flex-grow: 1;
    padding-bottom: 20px;
  }

  .btn {
    align-self: center;
  }
}