@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@300;400;500;600;700&family=Poppins&family=Roboto:wght@700&display=swap');

.container {
  display: flex;
  flex-direction: row;
  padding: 25px;
}

.logo {
  flex-grow: 1;
  flex-shrink: 5;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-image: url("./images/background.svg");
  background-size: 100vw;
  background-repeat: no-repeat;
}

h1 {
  font-family: 'poppins-bold', sans-serif !important;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  color: #172b4d;
  margin: 12px 0;
  padding-top: 50px;
}

p {
  font-family: 'poppins-bold', sans-serif !important;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  flex-grow: 0;
  margin: 12px 0;
}

.connect h2 {
  font-family: 'poppins-bold', sans-serif !important;
  font-style: normal;
  font-size: 16px;
  color:#6070FF;

}

.content a {
  text-decoration: none;
  text-transform: uppercase;
}
.connect a {
  text-decoration: none;
  text-transform: uppercase;
}
.media {
  display: flex;
  justify-content: start;
  flex-direction: row;
  gap: 1em;
  padding-left: 5px;
  align-items: baseline;
}

ul.media {
  list-style: none;
}

.project-container {
 display: grid;
  row-gap: 89px;
}

.project-card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 90%;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 10px;
  margin: 10px 0;
}

.about {
  font-family: 'poppins-bold', sans-serif !important;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: #344563;
  flex: none;
  margin: 12px 0;
}

.image img {
  width: 100%;
}

.stories {
  display: flex;
  flex-direction: column;
}

.p-title {
  color: #172B4D;;
  font-family: 'poppins-bold', sans-serif !important;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  margin: 12px 0;
}

.subwork {
  display: flex;
  list-style: none;
  padding-right: 10px;
  padding-left: 0;
  gap: 1em;
}

.work1 {
  font-family: 'poppins-bold', sans-serif !important;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #3f4550;
}

.subwork li {
  color: #7a869a;
  font-size: 13px;
  font-family: 'poppins-bold', sans-serif !important;
}

.project-card p {
  font-size: 25px;
}

.languages {
  display: flex;
  list-style: none;
  padding-right: 10px;
  padding-left: 0;
  gap: 1em;
}

.languages li {
  color: #6070ff;
  background-color: #ebebff;
  border-radius: 10px;
  padding: 10px;
  font-family: 'poppins-bold', sans-serif !important;
}

.clickme {
  color: #396df2;
  border-radius: 8px;
  border-color:#7F8CFF;
  padding: 10px 20px;
  background-color: #fff;
  font-size: 20px;
}
.clickme:hover,
.clickme:active{
  background-color: #396df2;
  color: #fff;
}

.about-me {
  padding-left: 20px;

}

.self {
  font-size: 50px;
  color: #172B4D;
  position: static;
width: 327px;
height: 101px;
left: 0px;
top: 0px;


}

.intro-about {
  font-family: 'poppins-bold', sans-serif !important;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.stacks {
  width: 90%;
  margin-bottom: 10px;
}

.stacks ul {
  padding: 0;
}

.heading span i {
  margin: 20px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.lang {
  background-color: #f7f7f9;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  margin-top: 20px;
}
.lang h4{
  position: absolute;
height: 24px;
left: 12px;
right: 78px;
top: calc(50% - 24px/2);
font-family: 'poppins-bold', sans-serif !important ;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #000000;

}
.lang li {
  margin-left: 20px;
  margin-top: 18px;
  list-style: none;
  color: #253858;
  font-family: 'poppins-bold', sans-serif !important;
  font-size: 15px;
  font-weight: 500;
}

.fr-skills {
  list-style: none;
  padding: 0px;
  width: 90%;
}
.fr-skills .framework{
display: flex;
justify-content: space-between;
font-family:'poppins-bold', sans-serif !important;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #000000;
list-style: none;
padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
 }

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  
}

