* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: row;
  padding: 25px;
}

.logo {
  flex-grow: 1;
  flex-shrink: 5;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-image: url("./images/background.svg");
  background-size: 100vw;
  background-repeat: no-repeat;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  color: #172b4d;
  margin: 12px 0;
  padding-top: 50px;
}

p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  flex-grow: 0;
  margin: 12px 0;
}

.connect p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #6070ff;
  font-weight: 500;
}

.content p {
  text-decoration: none;
  text-transform: uppercase;
}

.connect a {
  text-decoration: none;
  text-transform: uppercase;
}

.media {
  display: flex;
  justify-content: start;
  flex-direction: row;
  gap: 1em;
  padding-left: 5px;
  align-items: baseline;
}

ul.media {
  list-style: none;
}

.project-container {
  display: grid;
  row-gap: 89px;
}

.project-card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 90%;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 10px;
  margin: 10px 0;
}

.about {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #344563;
  flex: none;
  margin: 12px 0;
}

.image img {
  width: 100%;
}

.stories {
  display: flex;
  flex-direction: column;
}

.p-title {
  color: #172b4d;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin: 12px 0;
}

.subwork {
  display: flex;
  list-style: none;
  padding-right: 10px;
  padding-left: 0;
  gap: 1em;
}

.work1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.subwork li {
  color: #7a869a;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.languages {
  display: flex;
  list-style: none;
  padding-right: 10px;
  padding-left: 0;
  gap: 1em;
}

.languages li {
  color: #6070ff;
  background-color: #ebebff;
  border-radius: 10px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
}

.clickme {
  color: #396df2;
  border-radius: 8px;
  border-color: #7f8cff;
  padding: 10px 20px;
  background-color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.clickme:hover,
.clickme:enabled .climeme:active {
  background-color: #396df2;
  color: #fff;
}

.about-me {
  padding-left: 20px;
}

.self {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  color: #172b4d;
  position: static;
  width: 327px;
  height: 101px;
  left: 0;
  top: 0;
}

.intro-about {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.stacks {
  width: 90%;
  margin-bottom: 10px;
}

.stacks ul {
  padding: 0;
}

.heading span i {
  margin: 20px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.lang {
  background-color: #f7f7f9;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  margin-top: 20px;
}

.lang h4 {
  position: absolute;
  height: 24px;
  left: 12px;
  right: 78px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.lang li {
  margin-left: 20px;
  margin-top: 18px;
  list-style: none;
  color: #253858;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.fr-skills {
  list-style: none;
  padding: 0;
  width: 90%;
}

.fr-skills .framework {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  list-style: none;
}

.framework li {
  list-style: none;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin: 20px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  color: rgb(32, 32, 32);
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #6070ff;
  border-top-left-radius: 5em;
  background-image: url(./images/cont-form.png);
  background-repeat: no-repeat;
  background-size: 350px 800px;
  height: 890px;
}

.contact-description {
  align-content: center;
  text-align: center;
  padding-top: 90px;
}

.contact-description h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  width: 90%;
}
.contact-txt {
  color: red;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}

.contact-description p {
  align-items: baseline;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  color: #ebebff;
  padding-left: 30px;
  padding-right: 24px;
}

::placeholder {
  color: black;
}

.form-field {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
  width: 90%;
  margin: 0 20px;
}

.form-field .name {
  background: #fff;
  border: none;
  border-radius: 8px;
  width: 100%;
  height: 48px;
}

.name-emailv {
  padding-top: 0.5rem;
}

.name-email {
  background: red;
  width: 90%;
  height: 18px;
}

form-field input {
  border-style: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: rgb(32, 32, 32);
  padding: 15px 16px 15px 23px;
  background: none;
}

.form-field .email-field {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 100%;
  height: 48px;
  margin: 18px 0;
  background: #fff;
}

.form-field .message {
  background: #fff;
  color: #b3bac5;
  border: none;
  border-radius: 8px;
  /* width: 100%; */
  padding: 15px 0 0 23px;
  height: 170px;
}
textarea {
  border: none;
  outline: none;
}

textarea::placeholder {
  color: #b3bac5;
  font-size: 15px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
}

.form-field .btn {
  width: 140px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  background: #fff;
  margin-top: 20px;
  margin-bottom: 40px;
}

.form-field button {
  border-style: none;
  color: #6070ff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  background: none;
  padding: 5px 10px;
}

.btn:hover,
.button-submit:active {
  background-color: #6070ff;
  color: #fff;
}

.btn:hover,
.btn:visited {
  background-color: #2235dd;
  color: #fff;
}

.line {
  text-align: center;
  margin: 10px auto;
}